<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" charset="UTF-8"/>
</head>
{% load static %}
<body>
<div id="title">
    <p>点击图片进入对应的项目</p>
</div>
<div id="project01_img">
    <a href="/shop"><img src="/static/images/001.jpg" height="250" width="1000" alt="django博客项目入口"></a>
    django 商城项目
</div>
<div id="project02_img">
    <a href="/blog"><img src="/static/images/002.jpg" height="250" width="1000" alt=""></a>
    django 博客项目
</div>


</body>
</html>